

<div class="col-md-12 col-sm-12 col-lg-12 catbox">
</div>
<div class="col" class="animallove col-md-12 col-sm-12 col-lg-12">
    <div class="col-md-2 col-lg-2 col-sm-2"></div>
  <div class="content col-lg-8 col-md-8 col-sm-8">
    <div class="col-md-12 col-sm-12 col-lg-12">
    <div  class="col-md-8 col-sm-8 col-lg-8">
          <span class="heart">We</span>
          <img class="heart1" src="../assets/heart-ic.png" alt="love"> 
          <span class="heart">Animals</span><br/>
          <span>So we put them where we can see them</span>
  </div>
  <div  class="col-md-4 col-sm-4 col-lg-4 mcbookdiv">
      <img class="mcBook" src="../assets/McBook.png" alt="McBook">
  </div>
  </div>

  <div class="col-md-12 col-sm-12 col-lg-12 extensionbox">
    <div class="col-md-9 col-sm-12 col-lg-9">
      <div>If you're an animal lover, this FREE extension is a great</div>
      <div>way to get your daily dose of cuteness overload</div>
    </div>
    <div class="col-md-3 col-sm-12 col-lg-3 contbtn">
            <button class="continue" mat-raised-button (click)="openDialog()"> <span class="cont">Continue</span><i class="angle fas fa-angle-right"></i></button>
    </div>
    
  </div>
  <div class="col-md-12 col-sm-12 col-lg-12 plzread">Please read carefully: By clicking the “Continue” button above, you are agreeing to install this extension and agreeing to abide by the End User License Agreement and Privacy Policy.  |  You can uninstall the extension at any time.</div>


  </div>
  
  <div class="col-md-2 col-lg-2 col-sm-2"></div>
</div>
<div class="col-md-12 col-sm-12 col-lg-12 petbg">
  <div class="col-md-3 col-sm-3 col-lg-3"></div>
  <div class="col-md-6 col-sm-6 col-lg-6">
    <div class="col-md-12 col-sm-12 col-lg-12 petlover">Just a pet Lover</div>
    <div class="col-md-6 col-sm-12 col-lg-5">
      <img class="pet" src="../assets/lovepets.png" alt="lovepets">
    </div>
    <div class="col-md-6 col-sm-12 col-lg-7 text">
        Just a Pet Lover Page is made for humans who truly love animals and the environment. The extension highlights interesting animal videos and news and brings you awesome browser wallpapers that will brighten up your day.
    </div>
    &nbsp;
    <div class="col-md-12 col-sm-12 col-lg-7 text">
        These features update in real-time. So, you really feel like you’re part of the animal kingdom.
    </div>
    <div class="privacy col-md-12 col-sm-12 col-lg-12">Check out our privacy policy and terms of services pages for more details!</div>
  </div>
  <div class="col-md-3 col-sm-3 col-lg-3"></div>


</div>
<div class="col-md-12 col-sm-12 col-lg-12 featuresbg">
  <div class="col-md-12 col-sm-12 col-lg-12 features">Features</div>
  <div class="col-md-1 col-sm-2 col-lg-2"></div>
  <div class="col-md-10 col-sm-8 col-lg-8">
    <div class="col-md-3 col-sm-12 col-lg-3">
    <div class="featurebox">
      <img class="featureicon" src="../assets/wall-ic.png" alt="Wall-ic">
      <div class="box-contenthd1">Adorable Wallpapers</div>
      <div class="box-contentbd1">Find an adorable animal on each new tab, designed to keep your spirits high</div>
    </div>
    </div>
    <div class="col-md-3 col-sm-12 col-lg-3">
        <div class="featurebox">
          <img class="featureicon" src="../assets/video-ic.png" alt="Wall-ic">
          <div class="box-contentvv">Viral Videos</div>
          <div class="box-contentbd">Seriously concerning or hilariously wild, you’ll know what’s going viral.</div>
        </div>
    </div>
    <div class="col-md-3 col-sm-12 col-lg-3">
            <div class="featurebox">
              <img class="featureicon" src="../assets/search-ic.png" alt="Wall-ic">
              <div class="box-contentps">Powerful Search</div>
              <div class="box-contentbd">Enjoy a smooth search engine experience</div>
            </div>
    </div>
    <div class="col-md-3 col-sm-12 col-lg-3">
        <div class="featurebox">
          <img class="featureicon" src="../assets/tweet-ic.png" alt="Wall-ic">
          <div class="box-contenttt">Trending Tweets</div>
          <div class="box-contentbd">Find an adorable animal on each new tab, designed to keep your spirits high</div>
        </div>
    </div>
  </div>
  <div class="col-md-1 col-sm-2 col-lg-2"></div>

</div>
<div class="col-md-12 col-sm-12 col-lg-12 contact">
  <div class="col-md-4 col-sm-4 col-lg-4"></div>
  <div class="col-md-4 col-sm-4 col-lg-4 contact-text">
    <div class="contacttxt">Contact us</div>
    &nbsp;
    <div class="contacttxtbody1"><strong> We'd love to hear from you!</strong></div>
    <div class="contacttxtbody2">at: contact@lmpts.com</div>
  </div>
  <div class="col-md-4 col-sm-4 col-lg-4"></div>
</div>
<div class="col-md-12 col-sm-12 col-lg-12 bottomnav">
  <div class="col-md-1 col-sm-1 col-lg-2"></div>
  <div class="col-md-10 col-sm-10 col-lg-8">
    <div class="col-md-2 col-sm-2 col-lg-2 navtxt">
      <a href="#">About us</a> 
    </div>
    <div class="col-md-3 col-sm-3 col-lg-3 navtxt"><a href="#">Terms of service</a></div>
    <div class="col-md-3 col-sm-3 col-lg-3 navtxt"><a href="#">Privacy policy</a></div>
    <div class="col-md-2 col-sm-2 col-lg-2 navtxt"><a href="#">Contact us</a></div>
    <div class="col-md-2 col-sm-2 col-lg-2 navtxt"><a href="#" (click)="onclick()">Uninstall</a></div>
  </div>
  <div class="col-md-1 col-sm-1 col-lg-2"></div>
</div>
<div *ngIf="visibility!=false" class="col-md-12 col-sm-12 col-lg-12 footer-content">
  <div class="col-md-3 col-sm-3 col-lg-3"></div>
  <div class="col-md-6 col-sm-6 col-lg-6">
    <div style="color: #007377">We're sorry to see you go!</div>
    <div style="color: #979f9c">Please help us improve Trailer Tab with your feedback</div>
    <div class="feedback">
      <input class="col-md-12 col-sm-12 col-lg-12 form-input" type="text" placeholder="Email id">
      <input class="col-md-12 col-sm-12 col-lg-12 form-input" type="text" placeholder="Message">
      <button class="col-md-12 col-sm-12 col-lg-12 form-input sendbtn">Send</button>
    </div>
  </div>
  <div class="col-md-3 col-sm-3 col-lg-3"></div>

</div>
<router-outlet></router-outlet>
